<h1>FIRST HOPE</h1>
<!-- wp:paragraph -->
<p>The very first vaccine for corona virus was developed by oxford, It was made from a genetically engineered virus that causes the common cold in chimpanzees.</p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":103,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/woman-holding-sign-3951615.jpg" alt="" class="wp-image-103"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Scientists transferred the corona virus' "spike protein" to the vaccine they were developing. The vaccine resembles the corona virus and the immune system can learn how to attack it. Levels of T-cells peaked 14 days after vaccination and antibody levels peaked after 28 days.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>90% of people developed neutralising antibodies after one dose. Only 10% people are given two doses and all of em produced neutralising antibodies.</p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":102,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/coronavirus-news-on-screen-3970332.jpg?w=1024" alt="" class="wp-image-102"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Here the thing is the vaccine is safe but there are side-effects, 70% of people on trail developed either fever or headache. The researchers say this could be managed with paracetamol.</p>
<!-- /wp:paragraph -->

<h1>UBISOFT</h1>
<!-- wp:paragraph -->
<p>Even if a vaccine is proven effective before the end of this year, wide spread vaccination is likely to be available next year at the earliest. Health and care workers and people who are deemed at high risk pf covid-19 due to their age or medical conditions will be prioritised. </p>
<!-- /wp:paragraph -->




<!-- wp:paragraph -->
<p>Ubisoft is leading creator, publisher and distributor of interactive entertainment and services. The company has a rich portfolio of word renowned brand. It has the worldwide network of studios and business offices. It delivers original and memorable gaming experience.</p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":99,"width":729,"height":546,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://9freakinhours.files.wordpress.com/2020/07/pexels-photo-3165335.jpeg" alt="" class="wp-image-99" width="729" height="546"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Ubisoft is one of dream company for many gamers to work with, As people like me used to play more online video games, working at some game developing platform gives bloody satisfaction anyway. </p>
<!-- /wp:paragraph -->




<h1>LOCUSTS</h1>
<!-- wp:image {"id":91,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/insect-macro-grasshopper-royalty-free-67630.jpg?w=1024" alt="" class="wp-image-91"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>According to FOOD AND AGRICULTURE ORGANIZATION (FAO) locust swarms are developing across India, Pakistan, Yemen, Iran and East Africa. The area has been warned to be on "high alert" and their growth is threatening crops in India.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Swarms of desert locusts are descending ravenously and roving through croplands and threatening livelihoods and food supplies in a devastating barrage.</p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":92,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/blade-of-grass-blur-close-up-dew-531208.jpg?w=1024" alt="" class="wp-image-92"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Desert locusts sometimes share the solitary lifestyle of a grasshopper. In a solitary phase, they occupy and breed in smaller regions they usually live in the arid areas of about 30 countries between West Africa and India. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>When plentiful rainfalls and annual vegetation develops, in such circumstances they shift completely from their solitary lifestyle to a group lifestyle, forming huge marauding swarms which is called the gregarious phase. </p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":94,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/screenshot_20200713_220217.jpg?w=907" alt="" class="wp-image-94"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Reportedly, for some farmers, spraying has come too late and many farmers across nothern kenya and beyond have lost everything to the swarms.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>In the forthcoming rainy season in South Asia, the number of locusts can increase 20 times.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Another generation of locust eggs is hatching which can exacerbate an already bleak food security situation in many counties expecially in East Africa. </p>
<!-- /wp:paragraph -->




<h1>SMELL THE RAIN</h1>
<!-- wp:image {"id":88,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/rain-drops-459451.jpg?w=1024" alt="" class="wp-image-88"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>"sometimes a certain smell will take me back to when i was young" gives the perfect version.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Have you ever wondered about what causes the distinct smells you detect in the air before, during and after a rainfall? Scientists say it’s a combination of ozone, petrichor and geosmin.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Yet, the funny thing is, the smell of rain always brings back my timeless, blissful childhood memories. It transports me to the old days spent smellin with joy leaving everything behind. </p>
<!-- /wp:paragraph -->




<h1>HOLD ON</h1>
<!-- wp:image {"id":68,"sizeSlug":"medium"} -->
<figure class="wp-block-image size-medium"><img src="https://9freakinhours.files.wordpress.com/2020/07/screenshot_20200709_182217.jpg?w=300" alt="" class="wp-image-68"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Some songs bring out the best Lyrics. Sticking with lyrics while listening to music carries even more joy.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>"A long endless highway, you're silent beside me<br>Drivin' a nightmare I can't escape from<br>Helplessly praying, the light isn't fadin'<br>Hiding the shock and the chill in my bones"</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Digging these four lines gives as much you want. The thing is hearing em in our own perspective hits different. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->




<h1>MULTIPLAYER DREAMING</h1>
<!-- wp:image {"id":54,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/low-angle-view-of-spiral-staircase-against-black-background-247676.jpg?w=1024" alt="" class="wp-image-54"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Imagine if we could dream with our favorite people, like multiplayer dreaming. Kind of fraggin in someone else's unconscious.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Nothing like fictional movies but there'll be so much fun</p>
<!-- /wp:paragraph -->





<h1>ELECTRICITY ISSUE</h1>
<!-- wp:image {"id":52,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/close-up-photo-of-coconut-tree-1030320.jpg?w=1024" alt="" class="wp-image-52"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Heavy rain and fast blowing winds have uprooted many trees in villages as well as cities. Trees often fall down on power lines which leads to long electricity outages and could even be dangerous if people came in contact with live wires. I live in village named narayanapuram, today we got a situation kinda giant tree fell down and we had power cut for 12 hours. I think it's an odd situation for runnin electricity based business in cities. we educated people should figure some permanent alternative for this.</p>
<!-- /wp:paragraph -->



<h1>LET IT GO</h1>
<!-- wp:paragraph -->
<p>May be it's your best move on behalf of some really good thing.</p>
<!-- /wp:paragraph -->



<h1>MOBILE</h1>
<!-- wp:paragraph -->
<p>A device used for looking less alone  while in public places by yourself..</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Ppl be like nothing strange but I'm busy rn..</p>
<!-- /wp:paragraph -->

<!-- wp:image {"id":43,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/bokeh-photography-of-person-holding-turned-on-iphone-1440727-1.jpg?w=1024" alt="" class="wp-image-43"/></figure>
<!-- /wp:image -->






<h1>FIGURE IT OUT</h1>
<!-- wp:paragraph -->
<p>Ever heard about this one? "whoever did the rhyme, did the crime", stick with it... Yes you got this.. </p>
<!-- /wp:paragraph -->




<h1>TOMMOROW ISN'T PROMISED</h1>
<!-- wp:image {"id":56,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/notebook-1226398.jpg?w=1024" alt="" class="wp-image-56"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Change your mind, what if tomorrow strikes you as a renegade? Do it now on your own way, whatever it takes.. </p>
<!-- /wp:paragraph -->


<h1>FIRST ONE</h1>
<!-- wp:image {"id":47,"sizeSlug":"large"} -->
<figure class="wp-block-image size-large"><img src="https://9freakinhours.files.wordpress.com/2020/07/blog-icon-information-internet-262508.jpg" alt="" class="wp-image-47"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>New to WordPress and here we are.... 9freakinhours</p>
<!-- /wp:paragraph -->





<h1>The Journey Begins</h1>
Thanks for joining me!
<blockquote>Good company in a journey makes the way seem shorter. — Izaak Walton</blockquote>
<img class="wp-image-7 size-full" src="https://twentysixteendemo.files.wordpress.com/2015/11/post.png" alt="post" width="1000" height="563">













